<div class="container">
  <div class="row">
    <div class="col-sm-12">
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="register(form)" novalidate>
        <div class="form-group form-inline" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label>Sign up as</label>
          <label class="radio-inline"><input type="radio" ng-model="user.role" value="locum" name="optradio" ng-change="roleChange()">Locum</label>
          <label class="radio-inline"><input type="radio" ng-model="user.role" value="practice" name="optradio" ng-change="roleChange()">Practice</label>
           <p class="help-block" ng-show="form.name.$error.required && submitted">
            A name is required
          </p>
        </div>
        <div class="form-group form-inline" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label>Name</label>

          <input type="text" name="name" class="form-control" ng-model="user.fname"
                 required placeholder="First name"/>
          <input type="text" name="name" class="form-control" ng-model="user.lname"
                 required placeholder="Last name"/>
          <p class="help-block" ng-show="form.name.$error.required && submitted">
            A name is required
          </p>
        </div>


        <div class="form-group form-inline" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
          <label>Email id</label>

          <input type="email" name="email" class="form-control" ng-model="user.email"
                 required
                 mongoose-error placeholder="Email ID"/>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ errors.email }}
          </p>
        </div>
        <div class="form-group form-inline" ng-class="{ 'has-success': form.confirmemail.$valid && submitted,     'has-error': form.confirmemail.$invalid && submitted }">
          <label>Conform Email id</label>

          <input type="email" name="confirmemail" class="form-control" ng-model="user.confirmemail"
                 required placeholder="Conform Email ID"
                 match="user.email"
                 mongoose-error/>
          <p class="help-block"
             ng-show="form.confirmemail.$error.match && submitted">
            Email must match.
          </p>
        </div>

        <div class="form-group form-inline" ng-class="{ 'has-success': form.mobile.$valid && submitted,
                                            'has-error': form.mobile.$invalid && submitted }">
          <label>Phone number: </label>
          <!-- <div class="input-group">
            <div class="input-group-addon">+91</div> -->
            <input type="number" name="mobile" class="form-control" ng-model="user.mobile"
                   required placeholder="Phone number"
                   mongoose-error/>
         <!--  </div> -->
          <p class="help-block" ng-show="form.mob.$error.mobile && submitted">
            Doesn't look like a valid mob.
          </p>
          <p class="help-block" ng-show="form.mobile.$error.required && submitted">
            What's your mobile number ?
          </p>
          <p class="help-block" ng-show="form.mobile.$error.mongoose">
            {{ errors.mob }}
          </p>
        </div>

        <div class="form-group form-inline" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.password"
                 ng-minlength="3"
                 required placeholder="Password"
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.password }}
          </p>
        </div>

        <div class="form-group form-inline" ng-class="{ 'has-success': form.confirmPassword.$valid && submitted,
                                            'has-error': form.confirmPassword.$invalid && submitted }">
          <label>Confirm Password</label>
          <input type="password" name="confirmPassword" class="form-control" ng-model="user.confirmPassword"
                 match="user.password" placeholder="Conform Password"
                 ng-minlength="3" required/>
          <p class="help-block"
             ng-show="form.confirmPassword.$error.match && submitted">
            Passwords must match.
          </p>
        </div>
        <div class="form-group form-inline" ng-class="{ 'has-success': form.category.$valid && submitted,
                                            'has-error': form.category.$invalid && submitted }">
          <label>Category</label>
          <select class="form-control" name="category" id="category" ng-model="user.category" required>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
          <label ng-if="user.role=='locum'" class="checkbox-inline certified" >
            <input type="checkbox" ng-model='user.certified' />NHS CERTIFIED
          </label>
          <p class="help-block"
             ng-show="form.category.$error.required && submitted">
            Should select category.
          </p>
        </div>
        <div class="form-group form-inline"  ng-class="{ 'has-success': form.tc.$valid && submitted,'has-error': form.tc.$invalid && submitted }">
          <label class="checkbox-inline">
            <input type="checkbox" name="tc" ng-model="user.tc" 
            required
            />
            Please Read and Accept Terms & Conditions.
          </label>
          <p class="help-block"
             ng-show="form.tc.$error.required && submitted">
            Accept terms and conditions.
          </p>
        </div>
        <div>
          <button class="btn btn-inverse btn-md btn-register" type="submit">
            Sign up
          </button>
          <a class="btn btn-default btn-md btn-login" ui-sref="main">
            Login
          </a>
        </div>

      </form>
    </div>
  </div>
</div>
