.squrebox{
	width: 12px;
    height: 12px;
    display: inline-block;
}
.whitebox{
	border: 1px solid black;
}
.pinkbox{
	background-color: pink;
}
.bluebox{
	background-color: blue;
}
.greenbox{
	background-color: green;
}
.redbox{
	background-color: red;
}