.squrebox{
	width: 12px;
    height: 12px;
    display: inline-block;
}
.whitebox{
	border: 1px solid black;
}
.amberbox{
	background-color: #FFC200;
}
.greybox{
	background-color: #808080;
}
.greenbox{
	background-color: green;
}
.redbox{
	background-color: red;
}
.fc-event.fc-draggable{
	border:2px red;
}