<div class="container">
    <div class="row">
      <form class="form form-horizontal" name="form" ng-submit="register(form,'practice')" novalidate>
        <div class="form-group col-lg-12 form-inline">
          <label class="control-label">Practice Registration</label>
        </div>
        <div class="form-group form-inline" ng-class="{ 'has-success': form.pcode.$valid && submitted,
                                            'has-error': form.pcode.$invalid && submitted }">
          <label class="control-label col-sm-3">Practice Code</label>
          <div class="col-sm-9">
            <input type="text" name="pcode" class="form-control" ng-model="user.pcode"
                   required placeholder="Practice Code" />
            <p class="help-block" ng-show="form.pcode.$error.required && submitted">
              A Practice Code is required
            </p>
          </div>
        </div>

        <div class="form-group form-inline">
          <label class="control-label col-sm-3">Practice Name</label>
          <label class="col-sm-9">
            name binding
          </label>
        </div>


        <div class="form-group form-inline" ng-class="{ 'has-success': form.country.$valid && submitted,
                                            'has-error': form.country.$invalid && submitted }">
          <label class="control-label col-sm-3">Country:</label>
          <div class="col-sm-9">
              <select name="country" class="form-control" ng-model="user.country">
                <option value="UK">UK</option>
                <option value="ENGLAND">ENGLAND</option>
                <option value="SCOTLAND">SCOTLAND</option>
                <option value="WALES">WALES</option>
                <option value="NORTHERN IRELAND">NORTHERN IRELAND</option>
             </select>
            <p class="help-block" ng-show="form.country.$error.required && submitted">
              Country is required
            </p>
          </div>
        </div>

        <div class="form-group form-inline" ng-class="{ 'has-success': form.hname.$valid && submitted,
                                            'has-error': form.hname.$invalid && submitted }">
          <label class="control-label col-sm-3">House Name:</label>
          <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="user.hname" name="hname"  placeholder="House Name" />
            <p class="help-block" ng-show="form.hname.$error.required && submitted">
              House Name is required
            </p>
          </div>
        </div>

        <div class="form-group form-inline" ng-class="{ 'has-success': form.address1.$valid && submitted,
                                            'has-error': form.address1.$invalid && submitted }">
          <label class="control-label col-sm-3">Address Line1:</label>
          <div class="col-sm-9">
            <input type="text" name="address1" class="form-control" ng-model="user.address1" placeholder="Address Line1" />
            <p class="help-block" ng-show="form.address1.$error.required && submitted">
              Address Line1 is required
            </p>
          </div>
        </div>
        <div class="form-group form-inline" ng-class="{ 'has-success': form.address2.$valid && submitted,
                                            'has-error': form.address2.$invalid && submitted }">
          <label class="control-label col-sm-3">Address Line2:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="address2" ng-model="user.address2" placeholder="Address Line2" />
            <p class="help-block" ng-show="form.address2.$error.required && submitted">
             Address Line2 is required
            </p>
          </div>
        </div>
        <div class="form-group form-inline" ng-class="{ 'has-success': form.address3.$valid && submitted,
                                            'has-error': form.address3.$invalid && submitted }">
          <label class="control-label col-sm-3">Address Line3:</label>
          <div class="col-sm-9">
            <input type="text" name="address3" ng-model="user.address3" class="form-control"  placeholder="Address Line3" />
            <p class="help-block" ng-show="form.address3.$error.required && submitted">
              Address Line3 is required
            </p>
          </div>
        </div>
        <div class="form-group form-inline" ng-class="{ 'has-success': form.town.$valid && submitted,
                                            'has-error': form.town.$invalid && submitted }">
          <label class="control-label col-sm-3">Town:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="town" ng-model="user.town"  placeholder="Town" />
            <p class="help-block" ng-show="form.town.$error.required && submitted">
              Town is required
            </p>
          </div>
        </div>
        <div class="form-group form-inline" ng-class="{ 'has-success': form.city.$valid && submitted,
                                            'has-error': form.city.$invalid && submitted }">
          <label class="control-label col-sm-3">City:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="city" ng-model="user.city" placeholder="City" />
            <p class="help-block" ng-show="form.city.$error.required && submitted">
              City is required
            </p>
          </div>
        </div>
        <div class="form-group form-inline" ng-class="{ 'has-success': form.county.$valid && submitted,
                                            'has-error': form.county.$invalid && submitted }">
          <label class="control-label col-sm-3">County:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="user.county"  placeholder="County" />
            <p class="help-block" ng-show="form.county.$error.required && submitted">
              County is required
            </p>
          </div>
        </div>
        <div class="form-group form-inline" ng-class="{ 'has-success': form.zip.$valid && submitted,
                                            'has-error': form.zip.$invalid && submitted }">
          <label class="control-label col-sm-3">Post-Code:</label>
          <div class="col-sm-9">
            <input type="Number" class="form-control" name="zip" ng-model="user.zip" placeholder="Post-Code" />
            <p class="help-block" ng-show="form.zip.$error.required && submitted">
              zip Code is required
            </p>
          </div>
        </div>
        <div class="form-group form-inline" ng-class="{ 'has-success': form.ccg.$valid && submitted,
                                            'has-error': form.ccg.$invalid && submitted }">
          <label class="control-label col-sm-3">CCG:</label>
          <div class="col-sm-9">
              <select name="ccg" ng-model="user.ccg" class="form-control">
                <option value="CCG1">CCG1</option>
                <option value="CCG2">CCG2</option>
                <option value="CCG3">CCG3</option>
                <option value="CCG4">CCG4</option>
                <option value="CCG5">CCG5</option>
             </select>
            <p class="help-block" ng-show="form.ccg.$error.required && submitted">
              CCG is required
            </p>
          </div>
        </div>
        <div class="form-group form-inline" ng-class="{ 'has-success': form.itsystems.$valid && submitted,
                                            'has-error': form.itsystems.$invalid && submitted }">
          <label class="control-label col-sm-3">IT Systems</label>
          <div class="col-sm-9">
            <div ng-dropdown-multiselect="" options="example1data" selected-model="user.itsystems"></div>
            <p class="help-block"
               ng-show="form.itsystems.$error.required && submitted">
              IT Systems is required.
            </p>
          </div>
        </div>
        <div class="form-group form-inline" ng-class="{ 'has-success': form.category.$valid && submitted,
                                            'has-error': form.category.$invalid && submitted }">
          <label class="control-label col-sm-3">Category:</label>
          <div class="col-sm-9">
              <select category="category" ng-model="user.category" value="UK" class="form-control">
                <option value="GP Practice">GP Practice</option>
                <option value="Dental Practice">Dental Practice</option> 
              </select>
            <p class="help-block" ng-show="form.category.$error.required && submitted">
              Category is required.
            </p>
          </div>
        </div>
        <div class="form-group form-inline" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label class="control-label col-sm-3">Contact Name</label>
          <div class="col-sm-9">
            <input type="text" name="contactfname" class="form-control" ng-model="user.contactfname"
                   required placeholder="First name"/>
            <input type="text" name="name" class="form-control" ng-model="user.contactlname"
                   required placeholder="Last name"/>
            <p class="help-block" ng-show="form.name.$error.required && submitted">
              A Frist name and Last name is required
            </p>
          </div>
        </div>
        <div class="form-group form-inline" ng-class="{ 'has-success': form.mobile.$valid && submitted,
                                            'has-error': form.mobile.$invalid && submitted }">
          <label class="control-label col-sm-3">Phone number: </label>
          <div class="col-sm-9">
              <input type="number" name="mobile" class="form-control" ng-model="user.mobile"
                     required placeholder="Phone number"
                     mongoose-error/>
            <p class="help-block" ng-show="form.mob.$error.mobile && submitted">
              Doesn't look like a valid mob.
            </p>
            <p class="help-block" ng-show="form.mobile.$error.required && submitted">
              What's your mobile number ?
            </p>
            <p class="help-block" ng-show="form.mobile.$error.mongoose">
              {{ errors.mob }}
            </p>
          </div>
        </div>
        <div class="form-group form-inline" ng-class="{ 'has-success': form.email.$valid && submitted,   'has-error': form.email.$invalid && submitted }">
          <label class="control-label col-sm-3">Email id</label>
          <div class="col-sm-9">
            <input type="email" name="email" class="form-control" ng-model="user.email"
                   required
                   mongoose-error placeholder="Email ID"/>
            <span class="help-inline help-text" tooltip="Also used as user id to login">&nbsp;?&nbsp;</span>
            <p class="help-block" ng-show="form.email.$error.email && submitted">
              Doesn't look like a valid email.
            </p>
            <p class="help-block" ng-show="form.email.$error.required && submitted">
              What's your email address?
            </p>
            <p class="help-block" ng-show="form.email.$error.mongoose">
              {{ errors.email }}
            </p>
          </div>
        </div>
        <div class="form-group form-inline" ng-class="{ 'has-success': form.confirmemail.$valid && submitted,     'has-error': form.confirmemail.$invalid && submitted }">
          <label class="control-label col-sm-3">Confirm Mail id</label>
          <div class="col-sm-9">
            <input type="email" name="confirmemail" class="form-control" ng-model="user.confirmemail"
                   required placeholder="Confirm Mail ID"
                   match="user.email"
                   mongoose-error/>
            <span class="help-inline help-text" tooltip="Mail id require to get password in case you forget">&nbsp;?&nbsp;</span>
            <p class="help-block"
               ng-show="form.confirmemail.$error.match && submitted">
              Email must match.
            </p>
          </div>
        </div>
   <div class="form-group form-inline" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
          <label class="control-label col-sm-3">Password</label>
          <div class="col-sm-9">
            <input type="password" name="password" class="form-control" ng-model="user.password"
                   ng-minlength="5" ng-pattern="/^[a-zA-Z]\w{3,14}$/"
                   required placeholder="Password"
                   mongoose-error/>
	        <span class="help-inline help-text" ng-show="user.password.length<1 form.Password.$dirty && form.Password.$error.pattern" tooltip="Password should be Alphanumeric">&nbsp;?&nbsp;</span>
			<span class="help-inline weak"
               ng-show="user.password.length<5">
              Your password is weak ! 
            </span>
            <span class="help-inline medium bold"
               ng-show="user.password.length<7&&user.password.length>5">
              Medium !
            </span>
            <span class="help-inline strong bold"
               ng-show="user.password.length>7">
              Now Your password is Strong !
            </span>
            <p class="help-block"
               ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
              Password must be at least 6 characters.
            </p>
            <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.password }}
            </p>
          </div>
        </div>

        <div class="form-group form-inline" ng-class="{ 'has-success': form.confirmPassword.$valid && submitted,
                                            'has-error': form.confirmPassword.$invalid && submitted }">
          <label class="control-label col-sm-3">Confirm Password</label>
          <div class="col-sm-9">
            <input type="password" name="confirmPassword" class="form-control" ng-pattern="/^[a-zA-Z]\w{3,14}$/" ng-model="user.confirmPassword"
                   match="user.password" placeholder="Confirm Password"
                   ng-minlength="5" required/>
            <p class="help-block"
               ng-show="form.confirmPassword.$error.match && submitted">
              Passwords must match or Not in Alphanumeric.
            </p>
          </div>
        </div>
       <div class="form-group form-inline" ng-class="{ 'has-success': form.package.$valid && submitted,
                                            'has-error': form.package.$invalid && submitted }">
          <label class="control-label col-sm-3"> Package-Selection</label>
          <div class="col-sm-9">

          <label class="radio-inline"><input type="radio" ng-model="user.package" value="basic" name="package" required />Basic</label>
          <label class="radio-inline"><input type="radio" ng-model="user.package" value="enterprise" name="package" required />Enterprise</label>
          </div>
      </div>

        <div class="form-group form-inline col-sm-9 col-sm-offset-3"  ng-class="{ 'has-success': form.tc.$valid && submitted,'has-error': form.tc.$invalid && submitted }">
          <label class="control-label col-sm-3"> </label>
          <label class="checkbox-inline">
            <input type="checkbox" name="tc" ng-model="user.tc" 
            required
            />
            <a href="http://unitelocum.com/terms and conditions" target="_blank">Please Read and Accept Terms & Conditions.</a>
          </label>
          <p class="help-block"
             ng-show="form.tc.$error.required && submitted">
            Accept terms and conditions.
          </p>
        </div>
        <div class="col-sm-9 col-sm-offset-3">
          <button class="btn btn-md btn-primary" type="submit">
            Sign up
          </button>
         <!--  <a class="btn btn-success btn-md btn-login" ui-sref="main">
            Login
          </a> -->
          <a class="btn btn-md btn-danger" ng-click="resetForm()">Reset</a>
        </div>

      </form>
  </div>
</div>
