<div class="container">
    <div class="panel-group">
        <div class="panel" ng-class="req.proposedUsers[0].status?(req.proposedUsers[0].status=='Reject'?'panel-danger':'panel-success'):'panel-default'" ng-repeat="req in notification.notificationsList" ng-if="Auth.isPractice()">
            <div class="panel-heading">Requirement Details ({{req._id}})</div>
            <div class="panel-body panel-body-custom">
                <div class="row">
                    <div class="col-lg-3"><b>Category:</b>&nbsp;{{req.category}}</div>
                    <div class="col-lg-3"><b>Skills:</b>&nbsp;{{req.skill}}</div>
                    <div class="col-lg-3"><b>Rate:</b>&nbsp;{{req.rate}}(£)</div>
                    <div class="col-lg-3"><b>Date:</b>&nbsp;{{req.date | date:'yyyy-MM-dd'}}</div>
                    <div class="col-lg-3"><b>From:</b>&nbsp;{{req.from | date:'h:mma'}}</div>
                    <div class="col-lg-3"><b>To:</b>&nbsp;{{req.to | date:'h:mma'}}</div>
                    <div class="col-lg-6"><b>Description:</b>&nbsp;{{req.desc}}</div>
                    <div class="col-lg-12"> Locum Details </div>
                    <ul class="list-group row">
                        <li class="list-group-item nested-list col-lg-12" ng-repeat="user in req.proposedUsers">
                            <div class="col-lg-12">
                                <span class="pull-left">
			  		 	<b>Name:</b>&nbsp;{{user.locumName}}
			  		 </span>
                                <span class="pull-right">
			  		 	<button class="btn btn-default btn-xs" ng-click="changeStatus('Accept',$index,$parent.$index)"><i class="green glyphicon glyphicon-ok"></i>&nbsp;Accept</button>
			  		 	<button class="btn btn-default btn-xs" ng-click="changeStatus('Reject',$index,$parent.$index)"><i class="red glyphicon glyphicon-remove"></i>&nbsp;Reject</button>
			  		 </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel" ng-class="req.proposedUsers[0].status?(req.proposedUsers[0].status=='Reject'?'panel-danger':'panel-success'):'panel-default'" ng-repeat="req in notification.notificationsList" ng-if="Auth.isLocum()">
            <div class="panel-heading">
            	Requirement Details ({{req._id}})
            	<span class="pull-right"><b>Status:</b> {{req.proposedUsers[0].status}}</span>
            </div>
            <div class="panel-body panel-body-custom">
                <div class="row">
                    <div class="col-lg-3"><b>Category:</b>&nbsp;{{req.category}}</div>
                    <div class="col-lg-3"><b>Skills:</b>&nbsp;{{req.skill}}</div>
                    <div class="col-lg-3"><b>Rate:</b>&nbsp;{{req.rate}}(£)</div>
                    <div class="col-lg-3"><b>Date:</b>&nbsp;{{req.date | date:'yyyy-MM-dd'}}</div>
                    <div class="col-lg-3"><b>From:</b>&nbsp;{{req.from | date:'h:mma'}}</div>
                    <div class="col-lg-3"><b>To:</b>&nbsp;{{req.to | date:'h:mma'}}</div>
                    <div class="col-lg-6"><b>Description:</b>&nbsp;{{req.desc}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
