        <div class="modal-header">
            <h3 class="modal-title">Requisition</h3>
        </div>
        <div class="modal-body">
            <form class="form" name="form" ng-submit="makeRequest(form)" novalidate>
                <div class="form-group form-inline" ng-class="{ 'has-success': form.category.$valid && submitted,
                                                    'has-error': form.category.$invalid && submitted }">
                  <label>Category</label>

                  <input type="text" name="category" class="form-control" ng-model="req.category"
                         required placeholder="Category"/>
                  <p class="help-block" ng-show="form.category.$error.required && submitted">
                    Category is required
                  </p>
                </div>
                <div class="form-group form-inline" ng-class="{ 'has-success': form.skill.$valid && submitted,
                                                    'has-error': form.skill.$invalid && submitted }">
                  <label>Skill</label>

                  <input type="text" name="skill" class="form-control" ng-model="req.skill"
                         required placeholder="Skill"/>
                  <p class="help-block" ng-show="form.skill.$error.required && submitted">
                    Skill is required
                  </p>
                </div>
                <div class="form-group form-inline" ng-class="{ 'has-success': form.desc.$valid && submitted,
                                                    'has-error': form.desc.$invalid && submitted }">
                  <label>Job Description</label>
                  <input type="text" name="desc" class="form-control" ng-model="req.desc"
                         required placeholder="Job Description"/>
                  <p class="help-block" ng-show="form.desc.$error.required && submitted">
                    Desc is required
                  </p>
                </div>
                <div class="form-group form-inline" ng-class="{ 'has-success': form.count.$valid && submitted,
                                                    'has-error': form.count.$invalid && submitted }">
                  <label>No. of Requirments</label>

                  <input type="number" name="count" class="form-control" ng-model="req.count"
                         required placeholder="No. of Requirments"/>
                  <p class="help-block" ng-show="form.count.$error.required && submitted">
                    Count is required
                  </p>
                </div>
                <div class="form-group form-inline" ng-class="{ 'has-success': form.date.$valid && submitted,
                                                    'has-error': form.date.$invalid && submitted }">
                  <label>Date</label>

                  <input type="text" class="form-control" name="date" datepicker-popup="dd-MMMM-yyyy" ng-model="req.date" is-open="popup1.opened" min-date="minDate"   ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                  <span>
                    <button type="button" class="btn btn-default" ng-click="openPicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>

                  <p class="help-block" ng-show="form.date.$error.required && submitted">
                    Date is required
                  </p>
                </div>
                <div class="form-group form-inline timer" ng-class="{ 'has-success': form.mytime.$valid && submitted,
                                                    'has-error': form.mytime.$invalid && submitted }">
                  <label>Time</label>
                  <timepicker ng-model="req.mytime" ng-change="changed()"  hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                  <p class="help-block" ng-show="form.mytime.$error.required && submitted">
                    Time is required
                  </p>
                </div>
                <div class="form-group form-inline" ng-class="{ 'has-success': form.rate.$valid && submitted,
                                                    'has-error': form.rate.$invalid && submitted }">
                  <label>Rate</label>

                  <input type="number" name="rate" class="form-control" ng-model="req.rate"
                         required placeholder="Rate"/>
                  <p class="help-block" ng-show="form.rate.$error.required && submitted">
                    A rate is required
                  </p>
                </div>
                <button ng-hide="updateEnable" class="btn btn-inverse btn-md btn-register" type="submit">
                    Submit
                </button>
                <button ng-show="updateEnable" class="btn btn-inverse btn-md btn-register" type="submit">
                    Update
                </button>
            </form> 
        </div>
<!--         <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div> -->
