table.table-hover,.table-hover tbody{
	border: 1px solid silver;
}
.action{
	cursor: pointer;
}
.action:hover {
    text-decoration: none;
}
.trash{
	color: red;
}
.timer table{
	display: inline-table;
}
.timer-container .btn{
	padding: 0px;
}
.timer-container .form-control{
	padding: 0px;
	height: 20px;
}
.timer-container .btn-link{
	line-height: 1;
}