<!-- Same for Locum and Practice-->
 <md-tab label="Location">
            <div class="demo-tab tab">
              <div layout="row" layout-wrap>
                <md-input-container class="md-block" flex-sm="40" flex-gt-sm="15" flex-md="40"  flex-xs="80">
                  <label>State</label>
                  <md-select ng-model="user.location.state">
                    <md-option>India</md-option>
                    <md-option>Andhra</md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div layout="row" layout-wrap>
                <md-input-container class="md-block" flex-sm="40" flex-md="40" flex-xs="80">
                  <label>Postal Code</label>
                  <input ng-model="user.location.postalCode">
                </md-input-container>
              </div>
              <div layout="row" layout-wrap>
                <md-input-container class="md-block" flex-sm="80" flex-gt-sm="80" flex-xs="80">
                  <label>Address</label>
                  <input ng-model="user.location.address1">
                </md-input-container>
              </div>
              <div layout="row" layout-wrap>
                <md-input-container class="md-block" flex-sm="80" flex-gt-sm="80" flex-xs="80">
                  <label>Address</label>
                  <input ng-model="user.location.address2">
                </md-input-container>
              </div>
            </div>
          </md-tab>
<!--Total fields should be changed--><br>

<label>Country</label><select name="Country" value="UK">
								<option value="UK">UK</option>
								<option >ENGLAND</option>
								<option >SCOTLAND</option>
								<option >WALES</option>
								<option >NORTHERN IRELAND</option>
							 </select><br>
<label>House Name/Number</label><input type="text"><br>
<label>AddressLine1</label><input type="text"><br>
<label>AddressLine2</label><input type="text"><br>
<label>AddressLine3</label><input type="text"><br>
<label>Town</label><input type="text"><br>
<label>City</label><input type="text"><br>
<label>Country</label><input type="text"><br>
<label>Post-Code</label><input type="text"><br>

<input type="checkbox" checked><label>Is this Business(Billing) Address</label><!--IF yes OK else capture Billing ADDRESS-->
<br>
<label>House Name/Number</label><input type="text"><br>
<label>AddressLine1</label><input type="text"><br>
<label>AddressLine2</label><input type="text"><br>
<label>AddressLine3</label><input type="text"><br>
<label>Town</label><input type="text"><br>
<label>City</label><input type="text"><br>
<label>Country</label><input type="text"><br>
<label>Post-Code</label><input type="text"><br>