 <label>First name</label>
                  <input ng-model="user.fname">
                </md-input-container>
                <md-input-container class="md-block" flex-sm="40" flex-md="40" flex-xs="80">
                  <label>Last name</label>
                  <input ng-model="user.lname">
                </md-input-container>
              </div>
              <div layout="row" layout-wrap>
                <md-input-container class="md-block" flex-sm="40" flex-md="40" flex-xs="80">
                  <label>Email ID</label>
                  <input ng-model="user.email">
                </md-input-container>
              </div>
              <div layout="row" layout-wrap>
                <md-input-container class="md-block" flex-sm="40" flex-md="40" flex-xs="80">
                  <label>Old Password</label>
                  <input ng-model="user.main.oldPwd">
                </md-input-container>
                <md-input-container class="md-block" flex-sm="40" flex-md="40" flex-xs="80">
                  <label>New Password</label>
                  <input ng-model="user.main.newPwd">
                </md-input-container>
                <md-input-container class="md-block" flex-sm="40" flex-md="40" flex-xs="80">
                  <label>Reenter New Password</label>
                  <input ng-model="user.main.renewPwd">
                </md-input-container>
              </div>
              <div layout="row" layout-wrap>
                <md-input-container class="md-block" flex-sm="40" flex-md="40" flex-xs="80">
                  <label>Phone Number</label>
                  <input ng-model="user.mobile">
                </md-input-container>
              </div>
              <div layout="row" layout-wrap>
                <md-input-container class="md-block" flex-sm="40" flex-md="40" flex-xs="80">
                  <label>Category</label>
                  <input ng-model="user.cateogry" disabled>
                </md-input-container>
              </div>
              <div layout="row" layout-wrap>
                  <md-content layout-padding layout="row" layout-align="start end">

<md-input-container>
  <label>Color</label>
  <input class="file-upload" type="file" ng-model="color" accept="image/*" required  ng-change="upload_change()">
</md-input-container><br>
<!-- Practice is not a person so it had name only-->
<label>NAME<label><input type="text"><!-- ALPHANUMERIC--><br>
<label>WORK-MOBILE</label><input type="text" ><!-- Numeric --><br>					 
