 <md-tab label="Social Accounts">
            <div class="demo-tab tab" style="padding: 25px;">
              <div class='row'>
                <h3>Add your social account</h3>
              </div>
              <div layout="row" layout-wrap>
                <md-input-container class="md-block" flex-sm="60" flex-gt-sm="60" flex-xs="80">
                  <label>Facebook</label>
                  <input ng-model="user.socialAccount.FB">
                </md-input-container>
              </div>
              <div layout="row" layout-wrap>
                <md-input-container class="md-block" flex-sm="60" flex-gt-sm="60" flex-xs="80">
                  <label>Twitter</label>
                  <input ng-model="user.socialAccount.Twitter">
                </md-input-container>
              </div>
              <div layout="row" layout-wrap>
                <md-input-container class="md-block" flex-sm="60" flex-gt-sm="60" flex-xs="80">
                  <label>Google+</label>
                  <input ng-model="user.socialAccount.Google">
                </md-input-container>
              </div>
              <div layout="row" layout-wrap>
                <md-input-container class="md-block" flex-sm="60" flex-gt-sm="60" flex-xs="80">
                  <label>Linkedin</label>
                  <input ng-model="user.socialAccount.Linkedin">
                </md-input-container>
              </div>
            </div>
          </md-tab>
		  <!--SET ICON FOR EACH-->
<label>SKYPE-ID</label><input type="text">
<label>PINTEREST</label><input type="text">
<label>XING</label><input type="text">