        <div class="modal-header">
            <h3 class="modal-title">Appointment</h3>
        </div>
        <div class="modal-body">
            <form class="form" name="form" ng-submit="makeRequest(form)" novalidate>
                <div class="form-group form-inline" ng-class="{ 'has-success': form.pname.$valid && submitted,
                                                    'has-error': form.pname.$invalid && submitted }">
                  <label>Practice Name</label>

                  <input type="text" name="pname" class="form-control" ng-model="dairy.pname"
                         required placeholder="Name"/>
                  <p class="help-block" ng-show="form.pname.$error.required && submitted">
                    Category is required
                  </p>
                </div>
                <div class="form-group form-inline" ng-class="{ 'has-success': form.rate.$valid && submitted,
                                                    'has-error': form.rate.$invalid && submitted }">
                  <label>Rate</label>

                  <input type="number" name="rate" class="form-control" ng-model="dairy.rate"
                         required placeholder="Rate"/>
                  <p class="help-block" ng-show="form.rate.$error.required && submitted">
                    Count is required
                  </p>
                </div>
                <div class="form-group form-inline timer" ng-class="{ 'has-success': form.startTime.$valid && submitted,
                                                    'has-error': form.startTime.$invalid && submitted }">
                  <label>From</label>
                  <timepicker ng-model="dairy.startTime" ng-change="changed()"  hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                  <p class="help-block" ng-show="form.startTime.$error.required && submitted">
                    Time is required
                  </p>
                </div>
                <div class="form-group form-inline timer" ng-class="{ 'has-success': form.endTime.$valid && submitted,
                                                    'has-error': form.endTime.$invalid && submitted }">
                  <label>To</label>
                  <timepicker ng-model="dairy.endTime" ng-change="changed()"  hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                  <p class="help-block" ng-show="form.endTime.$error.required && submitted">
                    Time is required
                  </p>
                </div>
                <button ng-hide="updateEnable" class="btn btn-inverse btn-md btn-register" type="submit">
                    Submit
                </button>
                <button ng-show="updateEnable" class="btn btn-inverse btn-md btn-register" type="submit">
                    Update
                </button>
            </form> 
        </div>
<!--         <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div> -->
