
<div class="container">
    <accordion close-others="true">
    
      <accordion-group is-open="$parent.step1">
          <accordion-heading>First One<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': step1, 'glyphicon-chevron-right': !step1}"></i></accordion-heading>
          <a class="btn btn-success" ng-click="openTwo('2')">Next</a>
      </accordion-group>
      
      <accordion-group is-open="$parent.step2">
          <accordion-heading>Second One<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': step2, 'glyphicon-chevron-right': !step2}"></i></accordion-heading>
          <a class="btn btn-success" ng-click="openTwo('3')">Next</a>
      </accordion-group>
      
      <accordion-group is-open="$parent.step3">
        <accordion-heading>Third One<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': step3, 'glyphicon-chevron-right': !step3}"></i></accordion-heading>
        <a class="btn btn-success" ng-click="openTwo('1')">Save</a>
      </accordion-group>
    
    </accordion> 
</div>
